.c-basketpage {
  padding: 50px 15%;

  @media screen and (max-width: 992px) {
    padding: 20px 3%;
  }

  &__waste-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    h2 {
      color: white;
    }
  }
  &__row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @media screen and (max-width: 992px) {
      flex-direction: column-reverse;
    }
  }

  &__left {
    width: calc(100% - 25px);
    margin-right: 25px;

    @media screen and (max-width: 992px) {
      width: 100%;
      margin-right: 0px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    // height: 200px;
    margin-bottom: 30px;
    border-radius: 8px;
    background-color: white;

    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__img {
    margin-right: 20px;
    display: flex;

    img {
      width: 400px;
    }

    @media screen and (max-width: 992px) {
      justify-content: center;
      margin-right: 0px;
      width: 100%;

      img {
        width: 100%;
        max-height: 200px;
      }
    }
  }
  &__container {
    width: calc(100% - 100px);
    padding: 10px 10px;

    @media screen and (max-width: 992px) {
      width: calc(100% - 10px);
    }
  }

  &__delete-button {
    button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      margin: 5px;
      font-size: 14px;
      cursor: pointer;
      transition: all 500ms;
      background-color: red;
      border: 1px solid red;
      color: white;

      &:hover {
        background-color: white;
        border: 1px solid red;
        color: black;
      }
    }
  }

  &__up-container,
  &__middle-container,
  &__down-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 992px) {
      flex-direction: column;
      justify-content: center;

      p {
        text-align: center;
        margin: 5px 0px;
      }
    }
  }

  &__item-title-qty {
    span {
      margin-right: 10px;
    }

    input {
      border: 1px solid black;
      border-radius: 4px;
      padding: 10px;
      max-width: 75px;
    }
  }

  &__right {
    width: 245px;
    @media screen and (max-width: 992px) {
      margin-bottom: 20px;
      width: 100%;
    }
  }

  &__total-card {
    width: calc(100% -40px);
    height: 200px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    padding: 0px 20px;

    @media screen and (max-width: 992px) {
      height: auto;
    }
  }

  &__total-card-title {
    p {
      text-align: center;
      font-size: 25px;
      font-weight: 900;
    }

    @media screen and (max-width: 992px) {
      justify-content: center;
    }
  }

  &__total-card-text {
    display: flex;

    p {
      font-size: 20px;
    }

    b {
      margin-right: 10px;
    }

    @media screen and (max-width: 992px) {
      justify-content: center;
      p {
        margin: 0px 0px 10px 0px;
      }
    }
  }
}
